body {
font-family : raleway, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}
nav {
    width: 30%;
}
ul {
    display: flex;
    justify-content: space-around; 
}
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;    
}
a :hover {
    color: blue;
}
